@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.titanic {
    float: none;
}


.container, .header-container {
    width: 1160px;
    margin: 0 auto;
    max-width: 1200px;
}

.span-color {
    color: #00cc99;

}

.blue-style {
    background-color: #fefeff;
    padding: 86px 0;
    border-bottom: 1px solid #e1e1e1;
}


.sec1-button {
    position: relative;
    border-radius: 4px;
    margin: 70px 14px;
    background-color: rgb(24, 207, 171);
    width: 166px;
    height: 61px;
    text-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

.sec3-button {
    position: relative;
    border-radius: 4px;
    margin: 70px 14px;
    background-color: rgb(24, 207, 171);
    width: 166px;
    height: 61px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}


.sec3-button:before {
    content: '+';
    font-weight: 400;
    margin-right: 10px;
    font-size: 35px;
}

.sec1-button::before {
    content: '';
    height: 6px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px 4px 0px 0px;
}

.but-color {
    background-color: #00cbf6;
}

/*  SECTION 1*/

.Logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: white;
    text-decoration: none;
}

.Logo p {
    font-size: 30px;
    margin-left: 7px;
    font-weight: 300;

}

.Logo p span {
    font-weight: bold;


}


.SECTION-1 {
    background-image: url(../img/Sections-background/section-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1112px;
    width: 100%;
}

.style-sect-1 {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

.header-container-sect {
    width: 100%;
    height: 121px;
    background-color: rgba(73, 71, 63, 0.5);
}


.header-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 121px;


}

.header-block {

    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 891px;

}

.header-block h2:nth-child(1) {
    font-weight: bold;
    font-size: 35px;

}

.header-block h2:nth-child(2) {
    font-weight: bold;
    font-size: 79px;
    margin: 15px 0;

}

.header-block h3 {
    font-weight: 300;
    color: #d4d4d4;
    font-size: 34px;
    margin-bottom: 100px;

}

.header-block-but {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*  SECTION 1*/


/* 480 374 */

.nav-bar a {
    text-decoration: none;
    color: #b8b8b8;
    margin: 0 5px;
    font-size: 13px;
    text-weight: bold;
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    position: relative;


}

.nav-bar a:after {
    background-color: #00cc99;
    display: block;

    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;

    position: absolute;
    bottom: -54px;
    left: 0;
}

.nav-bar a:hover:after,
.nav-bar a:focus:after {
    width: 100%;
}


/* .nav-bar a:hover { */
/*     border-bottom: 2px solid #00cc99; */
/*     color: #00cc99; */
/* } */


.section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-2 a {
    width: 100%;

    height: 274px;
    text-decoration: none;
    color: #00cc99;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c2a33;
    position: relative;
    font-weight: bold;
    font-size: 20px;
}

.section-2 a:nth-child(2n) {
    background-color: #00cc99;
    color: white;

}

.section-2 a img {
    height: 80px;
    margin-bottom: 12px;
}

.section-2 a:nth-child(2n)::before {
    content: '';
    height: 6px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.section-2 a::before {
    content: '';
    height: 6px;
    width: 100%;
    background-color: #00cc99;
    position: absolute;
    top: 0;
    left: 0;
}

.tabs-services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tabs-services p {
    font-weight: 400;
    font-size: 16px;
    border: 1px solid #ebebeb;
    width: 192px;
    height: 72px;
    color: #666;
    cursor: pointer;
    transition: 50ms;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.tabs-services p.active {
    background-color: #00cc99;
    color: white;
    position: relative
}

.tabs-services p.active::before {
    content: '';
    border: 8px solid;
    border-color: #00cc99 transparent transparent transparent;
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -5%;
    transition: 50ms;

}

.our-services h2 {
    text-align: center;
    color: #666;
    margin: 84px 0;
    position: relative;
}

.our-services h2::before {
    content: '';
    width: 76px;
    background-color: #00cc99;
    position: absolute;
    height: 1px;
    left: 50%;
    margin-left: -4%;
    bottom: -24px;
}

.our-services h2::after {
    content: '';
    width: 76px;
    background-color: #00cc99;
    position: absolute;
    height: 1px;
    left: 50%;
    margin-left: -3%;
    bottom: -28px;
}

.tabs-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tabs-content img {
    width: 192px;
    height: 100%;
    border: 1px solid gray;
    margin-right: 15px;
}

.tabs-content p {
    font-size: 14px;
    color: #666;
    font-weight: 300;
    display: none;

}

.tabs-content p.active {
    display: inline-flex;


}

.section-3 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 476px;

}

.section-3 {
    margin: 84px 0 0 0;
    height: 476px;
    background-image: url(../img/Sections-background/section-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #c2c1c1;

}

.section-3-style {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

.section-3-style h2 {
    font-weight: bold;
    font-size: 40px;
}

.section-3-style p {
    font-weight: 400;
    font-size: 16px;
}

.works h2 {
    text-align: center;
    color: #666;
    position: relative;
}

.works h2::before {
    content: '';
    width: 76px;
    background-color: #00cc99;
    position: absolute;
    height: 1px;
    left: 50%;
    margin-left: -4%;
    bottom: -16px;
}

.works h2::after {
    content: '';
    width: 76px;
    background-color: #00cc99;
    position: absolute;
    height: 1px;
    left: 50%;
    margin-left: -3%;
    bottom: -20px;
}

.works-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tabs-works {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tabs-works p {
    padding: 20px;
    border: 1px solid #ebebeb;
    color: #717171;
    display: inline-block;
    background-color: #fff;
    margin-top: 70px;
    cursor: pointer;
    transition: 200ms;

}

.tabs-works p:hover {
    color: #00cc99;
    transition: 200ms;
}

.tabs-works .active {
    border-top: 2px solid #00cc99;
    color: #00cc99;
    box-sizing: border-box;
}


/* 286 206 */

.images-news {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.works .images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.category {
    width: 286px;
    height: 206px;
    display: none;
}


.works .images a img {
    transition: 200ms;
}


.news h2 {
    text-align: center;
    color: #666;
    margin-top: 50px;
    position: relative;
}

.news h2::before {
    content: '';
    width: 76px;
    background-color: #00cc99;
    position: absolute;
    height: 1px;
    left: 50%;
    margin-left: -4%;
    bottom: -16px;
}

.news h2::after {
    content: '';
    width: 76px;
    background-color: #00cc99;
    position: absolute;
    height: 1px;
    left: 50%;
    margin-left: -3%;
    bottom: -20px;
}

/* 265 280 */


.news .images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 604px;
}

.news .images a img {
    width: 100%;

}

.news .images p {
    color: #717171;

}

.news .images a {
    position: relative;
    width: 265px;
}



.news .images p:nth-child(1) {
    margin: 2px 0 0 8px;
    font-size: 18px;
    font-weight: bold;
}

.news .images p:nth-child(2) {
    margin: 10px 0 0 4px;
    font-size: 14px;
    font-weight: 300;
}


.news a::before {
    content: '12 Feb';
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    font-weight: 300;
    width: 66px;
    height: 67px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #203e38;
}

.news a:hover::before {
    background-color: #00cc99;

}

.news a:hover .news-content p {
    color: #00cc99;
}

.news a {
    display: grid;
    text-decoration: none;

    width: 265px;
    /* height: 280px; */
}

.news-content {
    border: 1px solid #edeeee;
    height: 70px;
}


.section-5 {
    height: 852px;
    background-image: url(../img/Sections-background/section-3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;

}

.people-say {
    margin: 130px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.people-say-first-h2 {
    color: #fff;
    margin-top: 50px;
    position: relative;


}

.people-say-first-h2::before {
    content: '';
    width: 76px;
    background-color: #00cc99;
    position: absolute;
    height: 1px;
    left: 50%;
    margin-left: -8%;
    bottom: -24px;
}

.people-say-first-h2::after {
    content: '';
    width: 76px;
    background-color: #00cc99;
    position: absolute;
    height: 1px;
    left: 50%;
    margin-left: -5%;
    bottom: -28px;
}

.people-say p {
    color: #bbbbbb;
    text-align: center;
    position: relative;
}

.people-say h2 {
    color: #fff;
    font-weight: 300;
    margin: 100px 0;
}

.people-say h3 {
    color: #00cc99;
    font-weight: 400;
}


footer {
    color: #aeaeae;
    height: 108px;
    background-color: #22353f;
    margin: 0px 0 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.selected img {
    width: 100px;
    height: 100px;
    border: 2px solid #00cc99;
    border-radius: 100%;
    box-shadow: 0 0 0px 6px rgba(24, 207, 171, 0.3);
    margin: 10px;
}

.list img {
    width: 50px;
    height: 50px;
    margin: 15px 10px;
    border-radius: 100%;
    box-shadow: 0 0 0 4px rgba(24, 207, 179, 0.3);
    transition: 200ms;

}

.list img:hover {
    margin-top: 14px;
    transition: 200ms;
}

.hidden {
    display: none;
}

.list {
    display: flex;
}

.selected {
    text-align: center;
}

.section-5-style {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}


.arrowLeft, .arrowRight {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    color: white;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    padding: 3px;
    cursor: pointer;
    transition: 200ms;

}

.arrowLeft:hover, .arrowRight:hover {
    background-color: #00cc99;
    border-color: #00cc99;
    transition: 200ms;
}

.category.shown {
    display: block;
    position: relative;

}

.category.shown {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category.shown:hover .dis-el {

    background-color: #fff;
    opacity: 1;
    transition: 200ms;


}


.dis-el-but button {
    width: 43px;
    height: 43px;
    border-radius: 100%;
    outline: none;
    border-color: #00cc99;
    color: #00cc99;
    transition: 200ms;
}

.dis-el-but button:hover {
    color: #fff;
    background-color: #00cc99;
    transition: 200ms;
}

.dis-el-p1 {
    color: #00cc99;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0 0 0;
}

.dis-el-p2 {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
}

.dis-el {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.dis-el-p1:before {
    content: '';
    background-color: #00cc99;
    height: 2px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;

}